<div>
    <table>
        <tr>
            <th>S.NO</th>
            <th>Tradable</th>
            <th>Mode</th>
            <th>Instrument Token</th>
            <th>Last Price</th>
            <th>Last Traded Quantity</th>
            <th>Average Traded Price</th>
            <th>Volume Traded</th>
            <th>Total Buy Quantity</th>
            <th>Total Sell Quantity</th>
            <!-- <th>OHLC</th> -->
            <th>Change</th>
            <th>Last Trade Time</th>
            <th>Exchange Timestamp</th>
            <th>Open Interest</th>
            <th>Open Interest Day High</th>
            <th>Open Interest Day Low</th>
            <th>Alert Prices</th>
        </tr>
        <tr *ngFor = "let stocks of selectedStocks;let i = index;">
            <td>{{i+1}}</td>
            <td>{{stocks.tradable}}</td>
            <td>{{stocks.mode}}</td>
            <td>{{stocks.instrument_token}}</td>
            <td>{{stocks.last_price}}</td>
            <td>{{stocks.last_traded_quantity}}</td>
            <td>{{stocks.average_traded_price}}</td>
            <td>{{stocks.volume_traded}}</td>
            <td>{{stocks.total_buy_quantity}}</td>
            <td>{{stocks.total_sell_quantity}}</td>
            <!-- <td>{{stocks.ohlc}}</td> -->
            <td>{{round(stocks.change,4)}}</td>
            <td>{{stocks.last_trade_time | date}}</td>
            <td>{{stocks.exchange_timestamp | date}}</td>
            <td>{{stocks.oi}}</td>
            <td>{{stocks.oi_day_high}}</td>
            <td>{{stocks.oi_day_low}}</td>
            <td><button (click)="alertPrice(stocks)">Alert Price</button></td>
        </tr>
    </table>
</div>

<ng-template #alertstockprice>

</ng-template>