<div>
    <button class="done-button" [disabled]="selectedItems.length == 0" (click)="saveTOSend()">DONE</button>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Trading Symbol</th>
        <th>Exchange</th>
        <th>Exchange Token</th>
        <th>Instrument Type</th>
        <!-- <th>Expiry</th> -->
        <th>Instrument Token</th>
        <th>Segment</th>
        <th>Alerts</th>
    </tr>
    <tr *ngFor ="let data of NSEStocks | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
        <td>{{data.name}}</td>
        <td>{{data.tradingsymbol}}</td>
        <td>{{data.exchange}}</td>
        <td>{{data.exchange_token}}</td>
        <td>{{data.instrument_type}}</td>
        <!-- <td>{{data.expiry}}</td> -->
        <td>{{data.instrument_token}}</td>
        <td>{{data.segment}}</td>
        <td><button *ngIf="checkAlertedStocks(i)" [disabled]="data.isSelected" (click)="addingItems(data,i)">Set Alert</button></td>
    </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!-- <ngx-pagination [total]="NSEStocks.length" [pageSize]="100" (pageChange)="onPageChange($event)"></ngx-pagination> -->

<!-- <mat-paginator [length]="NSEStocks.length" [pageSize]="100" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator> -->

