<div class="main-viewer">
    <button class="component-link" (click)="p = 1">BSE</button>
    <button class="component-link" (click)="p = 2">NSE</button>
    <button class="component-link" (click)="p = 3">Selected Stocks</button>
</div>

<div>
    <div *ngIf="p == 1">
        <app-bse-list></app-bse-list>
    </div>
    <div *ngIf="p == 2">
        <app-nse-list></app-nse-list>
    </div>
    <div *ngIf="p ==3">
        <app-selected-stocks></app-selected-stocks>
    </div>
</div>

<div>
    <button class="logout-button" (click)="logout()">LogOut</button>
</div>
